<p id="notice"><%= notice %></p>

<div class="container admin-table">
<h2>Orders</h2>
<table class="table table-hover admin-table-within">
  <thead>
    <tr>
      <th>Time</th>
      <th>User</th>
      <th>Product</th>
      <th>Payment Amount</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.created_at %></td>
        <td><%= order.user.email if order.user %></td>
        <td><%= order.product.name if order.product %></td>
        <td><%= number_to_currency(order.total) %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

