<%= form_for(product) do |f| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class = "create_new_product_form">
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, class: "resizedField" %>
  </div>

  <div class="field">
    <%= f.label :artist %>
    <%= f.text_field :artist, class: "resizedField" %>
  </div>

    <div class="field">
    <%= f.label :year_made %>
    <%= f.text_field :year_made %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, class: "resizedTextBox" %>
  </div>

  <div class="field">
    <%= f.label :text %>
    <%= f.text_area :text, class: "resizedTextBox" %>
  </div>

  <div class="field">
    <%= f.label :image_url %>
    <%= f.text_field :image_url, class: "resizedField" %>
  </div>

    <div class="field">
    <%= f.label :img2_url %>
    <%= f.text_field :img2_url, class: "resizedField" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
</div>
<% end %>
