<%= form_for(product) do |f| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class = "create_new_product_form">
  <div class="form-group-container">
    <form>
      <h4>About the Artist</h4><br>
        <div class="form-group row">
          <%= f.label :artist, class: "col-sm-2 col-form-label"%>
          <div class="col-sm-10">
            <%= f.text_field :artist, class: "form-control resizedField", placeholder: "Artist" %>
          </div>
        </div>
        <div class="form-group row">
            <%= f.label :price, class: "col-sm-2 col-form-label"%>

          <div class="col-sm-10">
            <%= f.text_field :price, class: "form-control resizedField", placeholder: "Price" %>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label :bio, class: "col-sm-2 col-form-label"%>
        <div class="col-sm-10">
          <%= f.text_area :bio, class: "form-control resizedTextBox", placeholder: "Add short artist bio here..." %>
        </div>
      </div>

     <h4>About the Work</h4><br>
      <div class="form-group row">
        <%= f.label :name, class: "col-sm-2 col-form-label"%>
        <div class="col-sm-10">
          <%= f.text_field :name, class: "form-control resizedField", placeholder: "Name" %>
        </div>
      </div>

      <div class="form-group row">
        <%= f.label :year_made, class: "col-sm-2 col-form-label"%>
        <div class="col-sm-10">
          <%= f.text_field :year_made, id: "datetimepicker", class: "form-control resizedField", placeholder: "Artist", :data => { :provide => :datetimepicker }  %>
        </div>
      </div>

      <div class="form-group row">
        <%= f.label :description, class: "col-sm-2 col-form-label"%>
        <div class="col-sm-10">
          <%= f.text_area :description, class: "form-control resizedTextBox", placeholder: "Add description of work here..." %>
        </div>
      </div>
      
      <div class="form-group row">
        <%= f.label :text, class: "col-sm-2 col-form-label"%>
        <div class="col-sm-10">
          <%= f.text_field :text, class: "form-control resizedField", placeholder: "Add tagline here..." %>
        </div>
      </div>

      <div class="form-group row">
        <%= f.label :image_url, class: "col-sm-2 col-form-label"%>
        <div class="col-sm-10">
          <%= f.text_field :image_url, class: "form-control resizedField", type: "url", placeholder: "Image URL 1" %>
        </div>
      </div>

      <div class="form-group row">
        <%= f.label :img2_url, class: "col-sm-2 col-form-label"%>
        <div class="col-sm-10">
          <%= f.text_field :img2_url, class: "form-control resizedField", type: "url", placeholder: "Image URL 2" %>
        </div>
      </div>

  <div class="actions">
    <%= f.submit class: "btn btn-default" %>
  </div>
<% end %>

      </div>
    </form>
  </div>
</div>
  </div>
