
<% if signed_in? %>
<hr class="jagged-line"><br>
  <%= form_for([@product, @product.comments.build], remote: true) do |f| %>
  <div class="row">
    <div class="col-md-12">
    <h4>Add a Review:</h4>
      <h5><%= f.label :rating, class: "rating-label" %><br></h5>
      <div class="rating">
      </div>
    </div>  
  </div>
  <div class="row new-comment-area">
    <div class="col-md-12">
      <div class="form-group">
        <h5><%= f.label :body, "Comments" %></h5>
        <%= f.text_area :body, class: "form-control comment-text-area", placeholder: "Enter Comment" %>
      </div>
    </div>
  </div>
  <%= f.submit "Submit", class: "send-button", id: "comment-send" %>
  <% end %>
<% end %>