<% cache product do %>
  <% @products.each do |product| %>
    <div>
      <div class="flex-container">
        <div class = "flex-item-image">
          <%= image_tag(product.img2_url, :class =>"product_image_thumbnail") %>
          <br>
          <nav class="hover-effect cl-effect-16 click-into-show-link">
          <%= link_to 'Edit', edit_product_path(product), :class => "click-into-show-link", :data=>{"hover" => 'Edit'} %> 
          <br>
          <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?'}, :class => "click-into-show-link", :data=>{"hover" => 'Destroy'} %>
          </nav>   
        </div>
        <!-- /.flex-item-->
        <div class = "flex-item-text">
          <div class = "title-text">
            <%= product.name %><br>
            <%= product.artist %><br>
            <% if product.year_made.present? %>
              <%= product.year_made.strftime("%Y") %>
            <% end %>
          </div>
            <br>
          <div>
            <div class="index-desc-text"> <%= product.description %>
          </div> 
          </div>
          <div>
            <nav class="hover-effect cl-effect-16 click-into-show-link">
          <%= link_to '[Click to Read More]', product, :class => "click-into-show-link", :data=>{"hover" => '[Click to Read More]'} %> 
          </nav>
        </div>
        <!-- /.flex-item--></div>
      <!--/.flex-container--></div>
    </div>
  <% end %>
<% end %>
