<p id="notice"><%= notice %></p>

<table class = "product_list">
  <thead>
    <tr>
      <th class="imgColumn">Name</th>
      <th>Description</th>
      <th class="resizedColumn">Text</th>
      <th class="narrowRow">Edit</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td class="maintext">
        <%= image_tag(product.image_url, :class =>"product_image_thumbnail") %>
          <br>
          <br>
            <%= product.name %>
          <br>
            <%= product.artist %>
          <br>
             <%= product.year_made %> 
        </td>
        <td>
          <%= product.description %></td>
        <td>
          <div class="overflow-limit"><%= product.text %>
          </div>
        </td>
        <td>
          <div><%= link_to 'Show', product %>
          </div>
          <div><%= link_to 'Edit', edit_product_path(product) %>
          </div>
          <div><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class = "box_following_list">
  <button><%= link_to 'Create New Product', new_product_path %></button>
</div>


