<!DOCTYPE html>
<html>
  <head>
    <title>No Shop</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Dosis|Quicksand|Padauk" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-lg-2">
          <nav class= "navbar-default navbar-fixed-side navbar-mobile ">
            <div class="navbar-header">
              <div class="mobile-site-title">
                <%= image_tag("cart.png", class: "img-responsive mobile-icon") %>
                <p>NO SHOP</p>
                </div>
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-links">
                <li> <%= link_to "Home", root_path %> <span class="sr-only"></span></a></li>
                <li>  <%= link_to "About", static_pages_about_path %></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">View Artworks <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><%= link_to "View All", products_path, method: :get%></li>
                    <li><a href="#">By Artist</a></li>
                    <li><a href="#">By Year</a></li>
                    <li><a href="#">By Selection</a></li>
                  </ul>
                </li>
                <li role="separator" class="divider"></li>
                <li><a href="#">References</a></li>
                <li role="separator" class="divider"></li>
                <li> <%= link_to "Contact", static_pages_contact_path %></li>
                </li>
              </ul>
              <ul class="nav navbar-nav navbar-icons">
                <li> <%= link_to "⌂", root_path, :id=>"big-icon" %> <span class="sr-only"></span></a></li>
                <li>  <%= link_to "ABOUT", static_pages_about_path %></li>
                <li class="dropdown">
                  <a href="#" id="dropdown-icon-list" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">VIEW BY<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><%= link_to "ALL", products_path, method: :get%></li>
                    <li><a href="#">DATE</a></li>
                    <li><a href="#">TYPE</a></li>
                    <li><a href="#">SELECT</a></li>
                  </ul>
                </li>
                <li role="separator" class="divider"></li>
                <li><a href="#">JOURNAL</a></li>
                <li role="separator" class="divider"></li>
                <li> <%= link_to "✉", static_pages_contact_path, :id=>"big-icon" %></li>
                </li>
              </ul>
            </div>
            <div><button class="expand-button isDown" id="toggle"> ⇔ MENU
                </button></div>

          </nav>

        </div>
      </div>
    </div>
  <div class="content-container" id="mobile-content-container">
    <div class="site-title" id="desktop-site-title">
      <h1 class="title-text">NO SHOP</h1>
      <%= image_tag("cart.png", class: "img-responsive cart-image") %>
    </div>
    <%= yield %>
    </div>
    <footer>
    &copy; 2017 Ritz Wu
    </footer>
  </body>
</html>
